@import "../../../../styles/globalStyles/colorPallete.module.scss";

.Th {
  height: 100%;
  padding: 1em;
  color: $text-color-light;
  text-align: left;
  table-layout: auto;
  width: 0;

  & > .container {
    width: 100%;
  }
}
