@import "../../../../styles/globalStyles/colorPallete.module.scss";
@import "../../../../styles/globalStyles/globalStyles.module.scss";

.Tr {
  width: 100%;
  display: table-row;
  border-radius: 1em;
  border-top: 0.125em solid rgba($background-grey-light, 0.25);
  border-bottom: 0.125em solid rgba($background-grey-light, 0.25);
  position: relative;
  &:nth-of-type(odd) {
    border-top: 0.125em solid rgba($background-grey-light, 0.25);
    border-bottom: 0.125em solid rgba($background-grey-light, 0.25);
  }

  &:hover {
    background-color: rgba($softBg, 0.15);
  }

  & > .actionsMenu {
    position: relative;
    width: 100%;
    height: 100%;

    & > span {
      position: relative;
    }
  }
}
