@import "../../../../styles/globalStyles/Flex.module.scss";
@import "../../../../styles/globalStyles/BasicBtn.module.scss";
@import "../../../../styles/globalStyles/colorPallete.module.scss";

.BtnOutline {
  @extend %BasicButton;
  align-items: flex-end;
  justify-content: center;
  background-color: transparent;
  color: #fff;
  width: min-content;
  color: rgba($tertiary, 1);
  transition: all 0.4s ease;
  border-radius: 0;
  padding: 0.5em 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($tertiary, 0.75);
    border-bottom: 0.125em solid rgba($tertiary, 0.25);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
  }

  & > .icon {
    width: 100%;
    height: fit-content;
    font-size: 1em;
    @extend %flexRow;
    align-items: flex-end;
    justify-content: center;

    & > svg {
      height: min-content;
    }
  }

  &:hover::before {
    transform: scaleX(1);
    border-bottom: 0.125em solid rgba($tertiary, 0.25);
    transform-origin: left;
  }

  &.disabled {
    border-bottom: 0.125em solid rgba($text-color-light, 0.25);
    color: $text-color-light;

    &::before {
      background-color: rgba($text-color-light, 0.25);
    }

    &:hover {
      background-color: $text-color-light;
      color: $text-color-dark;
    }
  }
}
