@import "../../../../styles/globalStyles/Flex.module.scss";
@import "../../../../styles/globalStyles/BasicBtn.module.scss";

.BtnOutline {
  @extend %BasicButton;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #fff;
  width: fit-content;
  flex: 0;
  border: 0.0675em solid rgba($outOfStock, 0.25);
  color: rgba($outOfStock, 1);

  & > .icon {
    width: 100%;
    height: 100%;
  }

  &:hover {
    background-color: $outOfStock;
    color: #fff;
  }
}
