@import "../../styles/globalStyles/Flex.module.scss";
@import "../../styles/globalStyles/colorPallete.module.scss";

.DataControl {
  width: 100%;
  min-height: 4em;
  border-radius: 0.5em;
  background-color: #fff;
  z-index: 999;
  padding: 0 1em;

  & > .filter {
    // width: 30vw;
    position: relative;
    @extend %flexRow;
    height: 100%;
    align-items: center;
    
    & > .filterPopOver {
      width: auto;
      z-index: 99;
  
    }
    & > .popover {
      position: absolute;
      top: 0;
      height: 60vh;
      width: 20vw;
      margin-top: 1em;
      
    }
  }
}
