@import "../../styles/globalStyles/colorPallete.module.scss";
@import "../../styles/globalStyles/Flex.module.scss";
@import "../../styles/globalStyles/elements.module.scss";

.ClientItem {
  padding: 1.25em 1em;
  border-radius: 1.5em;
  width: 18vw;
  box-shadow: (0 0.25em 0.5em rgba($ShadowThin, 0.5));
  @extend %flexCol;
  background-color: #fff;
  gap: 1em;

  & > .clientName {
    @extend %flexCol;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 0.5em;
    text-align: center;
    & > .name {
      font-size: 1.25em;
    }
    & > .email {
      color: $text-color-light;
      font-size: 0.75em;
    }

    & > .editClient {
      font-size: 0.75em;
      border-radius: 0.5em;
    }
  }

  & > .clientOptions {
    overflow: auto;
    @extend %flexCol;

    & > .option {
      & > .clientCardOption {
        font-size: 0.875em;
        padding: 0.875em 1em;
        width: 100%;
        border-radius: 0.5em;
        @extend %flexRow;
        justify-content: space-between;
        align-items: center;

        & > svg {
          font-size: 0.875em;
        }

        & > span {
          @extend %flexRow;
          align-items: center;
          gap: 0.75em;
          font-weight: 300;
        }

        &.active {
          color: $secondary;
          background-color: $primary;

          & > span {
            @extend %flexRow;
            align-items: center;
            gap: 0.75em;
            font-weight: 700;
          }
        }
      }
    }
  }
}
