$primary: #8ce5de;
$primaryText: #2cc0b4;

$secondary: #223143;
$colorBackground: #f8f9fa;

$colorDivider: #e9ecef;

// elements Bg
$softBg: #8ce5de20;
// shadows
$ShadowThin: #ced4da;

// scroller
$scrollerThumb: #ced4da;
$scrollerTrack: #e9ecef;
