@import "./colorPallete.module.scss";

svg {
  font-size: 1.25em;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

*::-webkit-scrollbar {
  height: 0;
  width: 0;
}

::-webkit-scrollbar-thumb {
  background-color: $scrollerThumb;
  border-radius: 1em;
}

::-webkit-scrollbar-track {
  background-color: $background-light;
}

ul {
  list-style: none;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.375em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.875em;
}

a {
  cursor: pointer;
  color: $link;
  padding: 0.75em 1em;


  &:hover {
    background-color: rgba($link, 1);
    color: #fff;
  }
}

hr {
  border: none;
  width: 100%;
  height: 1px;
  background-color: $background-grey-light;
}