svg {
  font-size: 1.25em;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

*::-webkit-scrollbar {
    height: 0;
    width: 0;
}

::-webkit-scrollbar-thumb {
    background-color:$scrollerThumb; 
    border-radius: 1em;
  }

  ::-webkit-scrollbar-track {
    background-color: $scrollerTrack; 
  }

  ul { 
    list-style: none;
  }
