@import "./colorPallete.module.scss";

.sectionExplain {
  color: $text-color-light;

  font-size: 0.875em;
}

.productName {
  cursor: pointer;
  transition: color 0.3s ease;
  &:hover {
    color: $secondary;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;

  margin: 0;
}
