@import "../../styles/globalStyles/colorPallete.module.scss";
@import "../../styles/globalStyles/Flex.module.scss";

.ErrorModal {
  @extend %flexCol;
  gap: 0.5em;
  align-items: center;
  width: 40vw;

  & > .icon {
    font-size: 2em;
  }

  & > .content {
    width: 100%;
    @extend %flexCol;
    gap: 0.5em;

    & > .text {
      width: 100%;
      text-align: center;
      font-size: 0.875em;
      text-wrap: wrap;
      white-space: break-word;
      word-break: break-word;
    }

    & > .prompt {
      width: 100%;
    }
  }
  & > .actions {
    margin-top: 0.5em;
    @extend %flexRow;
    gap: 1em;
    width: 100%;
  }
}
