@import "../../../../styles/globalStyles/colorPallete.module.scss";
@import "../../../../styles/globalStyles/Flex.module.scss";
.TrHeader {
    width: 100%;
    background-color: $background-medium;
    color: $text-color-dark;
}
