@import "../../../../styles/globalStyles/Flex.module.scss";
@import "../../../../styles/globalStyles/colorPallete.module.scss";
.ProductForm {
  width: 100%;
  height: 100%;
  @extend %flexCol;
  gap: 1em;
  & > .header {
    height: 15%;
    background-color: $background-dark;
  }

  & > .main {
    width: 100%;
    height: 50%;
    max-height: 50%;
    @extend %flexRow;
    gap: 1em;
    align-items: flex-start;
    justify-content: flex-start;

    & > .imageContainer {
      position: relative;
      height: 85%;
      max-height: 85%;
      max-width: 50%;
      aspect-ratio: 1 / 1;
      @extend %flexCol;
      align-items: center;
      justify-content: center;

      & > .removeImage {
        transition: transform 0.3s ease;
        transform: translateY(120%);
        z-index: -1;
        background-color: #fff;
        border-radius: 50%;
        padding: 0.5em;
        position: relative;
      }

      &:hover > .removeImage {
        transform: translateY(0%);
        z-index: 999;
      }

      & > img {
        padding: 1em;
        max-height: 100%;
        max-width: 100%;
        width: 100%;
        object-fit: contain;
        inset: 0;
        z-index: 1000;
        overflow: hidden;
      }
    }

    & > .uploadImageContainer {
      position: relative;
      height: 85%;
      max-height: 85%;
      aspect-ratio: 1 / 1;
      background-color: $background-light;
      @extend %flexRow;
      align-items: center;
      justify-content: center;

      & > svg {
        width: 3em;
        height: 3em;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: $background-dark;
        pointer-events: none;
        transition: all 0.3s ease;
      }

      & > input {
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
      }
    }

    & > .fields {
      width: 100%;

      & > .group1 {
        width: 100%;
      }

      & > .group2 {
        @extend %flexRow;
        gap: 1em;
      }
      & > .group3 {
        @extend %flexRow;
        gap: 1em;
      }
    }
  }

  & > .footer {
    margin-top: auto;
    @extend %flexRow;
    align-items: center;
    justify-content: flex-end;
    height: 10%;
    width: 100%;
    gap: 0.5em;
  }
}
