@import "../../../../styles/globalStyles/Flex.module.scss";
@import "../../../../styles/globalStyles/colorPallete.module.scss";
.ProductForm {
  width: 100%;
  height: 100%;
  @extend %flexCol;
  gap: 1em;

  & > .header {
    @extend %flexCol;
    gap: 0.25em;

    & > p {
      color: $text-color-light;
      font-size: 0.875em;
    }
  }

  & > .main {
    width: 100%;
    @extend %flexRow;
    gap: 1em;
    align-items: flex-start;
    justify-content: flex-start;
    margin: auto 0;

    & > .imageContainer {
      position: relative;
      width: 20%;
      max-width: 20%;
      height: 60%;
      border-radius: 0.5em;
      // aspect-ratio: 1 / 1;
      overflow: hidden;
      @extend %flexCol;
      align-items: center;
      justify-content: center;
      

      & > .removeImage {
        transform: translateY(120%);
        z-index: -1;
        background-color: #fff;
        border-radius: 50%;
        padding: 0.5em;
        position: relative;
        transition: transform 0.3s ease;
      }

      &:hover > .removeImage {
        transform: translateY(-20%);
        z-index: 999;
      }

      & > img {
        height: 100%;
        // max-height: 100%;
        max-width: 100%;
        width: 100%;
        object-fit: contain;
        z-index: 1000;
        overflow: hidden;
        margin: auto;
      }
    }

    & > .uploadImageContainer {
      position: relative;
      width: 20%;
      max-width: 20%;
      aspect-ratio: 1 / 1;
      border-radius: 0.5em;
      overflow: hidden;
      border: 0.125em solid $background-medium;
      background-color: $background-light;
      @extend %flexRow;
      align-items: center;
      justify-content: center;

      & > svg {
        width: 3em;
        height: 3em;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: $background-dark;
        pointer-events: none;
        transition: all 0.3s ease;
      }

      & > input {
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
      }
    }

    & > .divider {
      height: 90%;
      margin: auto;
      border: none;
      width: 1px;
      background-color: $softDivider;
    }

    & > .fields {
      width: 80%;
      height: 100%;
      & > .group1 {
        width: 100%;
      }

      & > .group2 {
        @extend %flexRow;
        gap: 1em;
      }
      & > .group3 {
        @extend %flexRow;
        gap: 1em;
      }
    }
  }

  & > .footer {
    margin-top: auto;
    @extend %flexRow;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    gap: 0.5em;
  }
}
