@import "../../../styles/globalStyles/Flex.module.scss";
@import "../../../styles/globalStyles/colorPallete.module.scss";

.SummaryItem {
  height: 100%;
  aspect-ratio: 5 / 3;

  & > .container {
    height: 100%;
    @extend %flexCol;
    justify-content: space-between;
    padding: 2em;

    & > .title {
      height: 25%;
      width: 100%;

      & > h5 {
        font-weight: 400;
      }
    }

    & > .value {
      width: 100%;
      @extend %flexRow;
      justify-content: space-between;
      align-items: flex-end;
      font-size: 1.375em;

      & > h2 {
        font-size: 2em;
        font-weight: 400;
        text-align: center;
      }

      & > .list {
      }
    }
  }
}
