@import "../../../styles/globalStyles/Flex.module.scss";
@import "../../../styles/globalStyles/colorPallete.module.scss";

.SummaryItem {
  height: 20vh;
  aspect-ratio: 1.75 / 1;

  & > .container {
    height: 100%;
    @extend %flexCol;
    justify-content: space-between;
    padding: 1em 2em 1em;
    & > .title {
      @extend %flexCol;
      height: 25%;
      width: 100%;
      justify-content: space-between;

      & > h5 {
        font-weight: 400;
      }
    }

    & > .value {
      width: 100%;
      @extend %flexRow;
      justify-content: space-between;
      align-items: flex-end;
      font-size: 1.25em;

      & > span {
        font-size: 0.875em;
        font-weight: 300;
        text-align: left;
      }

      & > .list {
      }
    }
  }
}
