@import "../../../../styles/globalStyles/Flex.module.scss";

.ClientForm {
  width: 40vw;
  height: 80vh;
  @extend %flexCol;
  gap: 2em;
  & > .main {
    width: 100%;
    height: 100%;
    @extend %flexCol;
    justify-content: flex-start;
    gap: 1em;

    & > .fieldsContainer {
      width: 100%;
      @extend %flexRow;
      flex-wrap: wrap;
      gap: 1em;

      & > .group1 {
        @extend %flexRow;
        width: calc(50% - 1em);
        margin-bottom: 1em;
      }

      & > .group2 {
        @extend %flexRow;
        width: calc(25% - 1em);

        &.street {
          width: 50%
        }
      }

      & > .group3 {
        @extend %flexRow;
        width: calc(25% - 1em);

        &.postalCode {
          margin-right: 60%;
          margin-bottom: 1em
        }
        &.phoneNumber {
          width: 50%
        }
      }

      & > .group4 {
        @extend %flexRow;
        width: calc(50% - 1em);
      }

    }

    & > .footer {
      @extend %flexRow;
      flex-direction: row-reverse;
      gap: 1em;
      width: 100%;
      margin-top: auto;
    }
  }
}
