@import "../../styles/globalStyles/colorPallete.module.scss";
@import "../../styles/globalStyles/Flex.module.scss";

.Summary {
  min-height: 20vh;
  width: 100%;
  background-color: #fff;
  @extend %flexRow;
  gap: 1em;
  align-items: center;
  border-radius: 1em;
  overflow-x: auto;
  overflow-y: hidden;

  & > .divider {
    border: none;
    width: 0.125em;
    height: 75%;
    background-color: $softDivider;

    &:nth-of-type(1) {
        display: none;
    }
  }
}
