@import "../../../styles/globalStyles/colorPallete.module.scss";
@import "../../../styles/globalStyles/Flex.module.scss";

.Input {
  @extend %flexCol;
  flex: 1 1 0;
  position: relative;
  height: auto;

  & > input,
  textarea {
    transition: all 0.4s ease;
    outline: none;
    padding: 0 1em;
    width: 100%;
    resize: none;
    background-color: $background-light;
    background-color: #fff;
    border: none;
    border-bottom: 0.125em solid rgba($softDivider, 0.5);
    height: 2.5em;
    z-index: 1;
    border-radius: 0 0.75em 0.75em;

    &:focus {
      border: 0.125em solid $primary;
      box-shadow: 0 0em 0.25em rgba($ShadowThin, 0);
      border-radius: 0 0.5em 0.5em;
    }
    &.placeholder {
      &::placeholder {
        pointer-events: none;
      }
    }

    &.error {
      &::placeholder {
        color: rgba($outOfStock, 0.675);
      }
    }

    &:hover::placeholder,
    &:focus::placeholder {
      opacity: 0.3;
    }

    &:disabled {
      background-color: $background-grey-light;
    }
  }

  & > textarea {
    height: 8em;
  }

  & > .error {
    font-size: 0.875em;
    color: $warning;
  }
}
