@import "../../../styles/globalStyles/colorPallete.module.scss";
@import "../../../styles/globalStyles/Flex.module.scss";

.Input {
  @extend %flexCol;
  flex: 1 1 0;
  position: relative ;
  
  & > input,
  textarea {
    transition: all 0.4s ease;
    outline: none;
    padding: 0 1em;
    border-radius: 0 0.5em 0.5em;
    width: 100%;
    resize: none;
    background-color: $background-light;
    border: 0.125em solid rgba($ShadowThin, 0.5);
    height: 2.5em;
    z-index: 1;
    background-color: #fff;
    // box-shadow: 0 0em 0.25em rgba($ShadowMedium, 0.5);

    
    &:focus {
      border: 0.125em solid $primary;
      box-shadow: 0 0em 0.25em rgba($ShadowThin, 0);

    }

    &::placeholder {
      color: rgba($outOfStock, 0.675);
      pointer-events: none;
    }

    &:hover::placeholder,
    &:focus::placeholder {
      opacity: 0.3;
    }

    &:disabled {
      background-color: $background-grey-light;
    }
  }

  & > textarea {
    height: 8em;
  }

  & > .error {
    font-size: 0.875em;
    color: $warning;
  }
}
