@import "../../styles/globalStyles/Flex.module.scss";
@import "../../styles/globalStyles/colorPallete.module.scss";

.ShoppingCart {
  height: 100%;
  width: 100%;

  & > .items {
    height: 60%;
    width: 100%;
    @extend %flexCol;
    overflow: auto;

    & > .noProducts {
      @extend %flexRow;
      justify-content: center;

      & > span {
        background-color: $background-medium;
        color: $text-color-light;
        font-size: 0.875em;
        width: 100%;
        padding: 1em 0;
        text-align: center;
        border-radius: 0.5em;
      }
    }
  }

  & > .footer {
    width: 100%;
    height: 40%;
    padding: 0.75em 0;
    position: sticky;
    bottom: 0;

    @extend %flexCol;
    gap: 0.5em;
    padding: 1em;
    border-radius: 0.5em;


    & > .subtotalPriceContainer {
      @extend %flexRow;
      justify-content: space-between;

      & > .title {
        font-size: 0.875em;
      }
    }

    & > .discountContainer {
      @extend %flexRow;
      justify-content: space-between;

      & > .title {
        font-size: 0.875em;
      }
    }

    & > .totalPriceContainer {
      @extend %flexRow;
      justify-content: space-between;

      & > .title {
        font-size: 0.875em;
      }
    }

    & > .checkout {
      width: 100%;
      @extend %flexRow;
      align-items: center;
      justify-content: space-between;
      margin-top: 2em;
    }

    & > .lastUpdated {
      margin-top: auto;
      font-size: 0.875em;
      color: $text-color-light;
    }
  }
}
