@import "../../../styles/globalStyles/Flex.module.scss";
@import "../../../styles/globalStyles/colorPallete.module.scss";
@import "../../../styles/globalStyles/elements.module.scss";

.Header {
  height: 100%;
  background-color: #fff;
  @extend %flexRow;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  align-items: center;
  gap: 1em;
  & > .title {
    & > h2 {
      font-size: 1.25em;
      font-weight: 700;
    }
  }

  & > .user {
    height: 100%;
    width: 25%;
    @extend %flexRow;
    gap: 1em;
    align-items: center;

    & > .userImg {
      height: 100%;
      width: 100%;
      aspect-ratio: 1/ 1;
      overflow: hidden;
      border-radius: 50%;
      border: 0.25em solid $primary;

      & > img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    & > .userDetails {
      width: 100%;
      height: 100%;
      @extend %flexCol;
      justify-content: center;
    }

    & > .system {
      width: 100%;
      height: 100%;
      @extend %flexRow;
      align-items: center;
      justify-content: center;
      gap: 1em;

      & > .shoppingCart {
        position: relative;

        & > svg {
          font-size: 1.5em;
          color: $secondary;
        }

        & > .popOverContainer {
          position: absolute;
          top: 0em;
          right: 0;
          height: 80vh;
          width: 40vw;
          display: none;

          &.active {
            display: flex;
          }
        }
      }

      & > .notifications {
        position: relative;

        & > svg {
          font-size: 1.5em;
          color: $secondary;
        }
      }

      & > .messages {
        position: relative;

        & > svg {
          font-size: 1.5em;
          color: $secondary;
        }
      }
    }
  }

  & > .logout {
    height: 100%;
  }

  & > hr {
    width: 0.125em;
    height: 75%;
  }
  & > .title {
    width: 100%;
    min-height: 100%;
    @extend %flexRow;
    align-items: center;
  }
}
