@import "../../../styles/globalStyles/colorPallete.module.scss";

.Label {
  position: absolute;
  top: 50%;
  left: 0.375em;
  transform: translate(0.375em, -50%);
  padding: 0 0.375em;
  width: max-content;
  font-size: 0.75em;
  color: rgba($text-color-light, 0.5);
  pointer-events: none;
  font-weight: 500;
  transition: all 0.3s ease;
  border-radius: 0.5em;
  &.focused {
    color: $secondary;
    top: 1em;
    transform: translate(auto, -50%);

  
  }
}
