@import "../../../styles/globalStyles/Flex.module.scss";
@import "../../../styles/globalStyles/colorPallete.module.scss";

.Select {
  position: absolute;
  top: 1em;
  left: 0;
  width: 10em;
  height: auto;
  border-radius: 0.75em;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 1em 2em rgba($secondary, 0.1);
  display: none;
  &.active {
    @extend %flexCol;
  }
}
