@import "../../../../styles/globalStyles/BasicBtn.module.scss";
@import "../../../../styles/globalStyles/colorPallete.module.scss";

.BtnSecondary {
  @extend %BasicButton;
  flex: 0;
  align-items: center;
  justify-content: center;

  
  & > svg {
    transition: transform 0.3s ease;

  }
  
  &:hover {
    background-color: $secondary;
    color: #fff;
  }
}
