@import "../../../../styles/globalStyles/globalStyles.module.scss";
@import "../../../../styles/globalStyles/Flex.module.scss";
.CreateProduct {
  width: 100%;
  height: 100%;
  text-overflow: ellipsis;
  & > .container {
    width: 100%;
    height: 100%;
    @extend %flexCol;
    gap: 1em;
    & > .header {
      width: 100%;
      height: min-content;
    }

    & > .main {
      width: 100%;
      height: 80%;
      overflow: auto;
      @extend %flexCol;
      gap: 1em;
      flex: 1;

      & > .image {
        aspect-ratio: 1 / 1;
        min-height: 30%;
        padding: 1em;
        background-color: $background-light;
        border-radius: 1em;
        overflow: hidden;
        @extend %flexRow;
        align-items: center;
        justify-content: center;
        position: relative;

        & > .imageContainer {
          & > img {
            height: 100%;
            width: 100%;
          }

          & > .removeImage {
            position: absolute;
            top: 10%;
            left: 3%;
          }
        }

   

        & > .uploadImageContainer {
          position: relative;
          width: 100%;
          height: 100%;
          
          & > input {
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
            
            &:hover ~ svg {
              height: 4em;
              width: 4em;
            }
          }
          
          
          & > svg {
            width: 3em;
            height: 3em;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: $background-dark;
            pointer-events: none;
            transition: all 0.3s ease;
            
          }
  
        }
      }



      & > .groups {
        width: 100%;
        @extend %flexRow;
        flex-wrap: wrap;
        & > .group1 {
          @extend %flexCol;
          width: 100%;
        }
        & > .group2 {
          gap: 1em;
          width: 100%;
          @extend %flexRow;
        }
        & > .group3 {
          min-width: 50%;
          margin: auto;
        }
      }
    }
    & > .footer {
      width: 100%;
      height: min-content;
      @extend %flexRow;
      align-items: center;
      justify-content: center;

      & > button {
        flex: 1;
      }
    }
  }
}
