@import "../../../styles/globalStyles/colorPallete.module.scss";
@import "../../../styles/globalStyles/Flex.module.scss";

.Option {
  width: 100%;
  min-height: 2.5em;
  @extend %flexRow;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5em;
  min-width: 12vw;
  padding: 0 1em;
  cursor: pointer;
  background-color: transparent;
  border-radius: 0.375em;

  & > .checkmark {
    margin-left: auto;
    font-size: 0.875em;
  }
  &:hover {
    background-color: $background-light;
  }

  &::selection {
    pointer-events: none;
  }
}
