@import "../../../styles/globalStyles/Flex.module.scss";
@import "../../../styles/globalStyles/colorPallete.module.scss";
@import "../../../styles/globalStyles/elements.module.scss";
@import "../../../styles/animations/shared.module.scss";
@import "../../../styles/animations/apearance.module.scss";

.Stock {
  height: 100%;
  width: 100%;
  @extend %flexCol;
  justify-content: flex-start;
  gap: 1em;

  & > .actions {
    @extend %flexRow;
    align-items: center;
    gap: 1em;
    width: 100%;
    min-height: 3em;
    padding: 0.5em 1em;

    & > .topBar {
      width: 100%;
    }

    & > span {
      background-color: #fff;
      padding: 0.5em;
      border-radius: 0.75em;
      z-index: 9;
      cursor: pointer;
    }

    & > input {
      transform: translateX(-120%);
      transition: all 0.75s ease;
      z-index: -1;

      &.active {
        transform: translateX(0);
        z-index: 1;
      }
    }

    & > .createProduct {
      width: 100%;
      @extend %flexRow;
      align-items: center;
      justify-content: flex-end;
      margin-left: auto;
      max-height: 60%;

      & > button {
        width: 10em;
      }
    }
  }

  & > .products {
    width: 100%;
    overflow: scroll;
  }

  & > .displayProducts {
    height: 100%;
    @extend %flexCol;

    & > span {
      min-height: 28vh;
    }
  }
}
